<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xyy.xyyapplication">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:name="com.example.xyy.xyyapplication.source.application.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <!--登录-->
        <activity
            android:name=".source.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity
            android:name=".source.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--个人信息详情-->
        <activity
            android:name=".source.activity.UserActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/user_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--用户名修改-->
        <activity
            android:name=".source.activity.userChangeActivity.UserNameChangeActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/user_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--用户电话修改-->
        <activity
            android:name=".source.activity.userChangeActivity.UserMobileChangeActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/user_mobile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--用户密码修改-->
        <activity
            android:name=".source.activity.userChangeActivity.UserPasswordChangeActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/user_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--用户列表-->
        <activity
            android:name=".source.activity.userList.UserListActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/user_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--添加用户-->
        <activity
            android:name=".source.activity.userList.AddUserActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/add_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--系统设置-->
        <activity
            android:name=".source.activity.set.SettingActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--添加供应商-->
        <activity
            android:name=".source.activity.supply.AddSupplyActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/add_supply"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--添加客户-->
        <activity
            android:name=".source.activity.customer.AddCustomerActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/add_customer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--添加商品-->
        <activity
            android:name=".source.activity.goods.AddGoodsActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/add_goods"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!--qrcode-->
        <activity
            android:name="com.example.xyy.xyyapplication.source.qrcode.QRMainActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.example.xyy.xyyapplication.source.qrcode.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>
    <!--在SDCard中创建与删除文件权限 -->
    <uses-permissio android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>
